$breakpoint-tablet: 768px;

$PRIMARY_FONT: 'Poppins', sans-serif;

$BORDER_COLOR: #e0e0e0;
$PRIMARY_COLOR: #004dda;
$SECONDARY_COLOR: #ffc107;
$INACTIVE_LINK_COLOR: #999999;

$COMMON_BORDER: 1px solid #e0e0e0;
$COMMON_TEXT_COLOR: #252525;

$NAVIGATION_COLOR: #999999;
$NAVIGATION_HOVER_COLOR: #3f51b5;
$COMMON_TEXT_COLOR: #252525;

$VALIDATION_ERROR_COLOR: #e91e1e;

// Buttons
$PRIMARY_BUTTON: $PRIMARY_COLOR;
$SECONDARY_BUTTON: $SECONDARY_COLOR;
$OUTLINE_BUTTON: #06224a;
$DISABLED_BUTTON: #9999;
