// @import url("/font-awesome/css/all.min.css");

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins/Poppins-Bold.otf");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Poppins";
}
